<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="/css/mail.css"> --}}
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        html {
            color: #000000;
            font-size: 62.5%;
            font-family: "Open Sans", sans-serif;
            background-color: #e7e7e7;
            cursor: default;
        }

        .mail {
            max-width: 600px;
            margin: auto;
            padding: 30px;
            background-color: #fff;
            color: #000000;
        }

        /* header */
        .header {
            background-color: #fff;
            display: flex;
        }

        .header__title {
            text-align: left;
            margin-left: -15px;
            width: 66.6667%;
        }

        .header__title-shop {
            color: #000000;
            font-size: 34px;
            padding-right: 20%;
            font-weight: bold;
            text-transform: uppercase;
        }

        .header__title-service {
            color: #000000;
            font-size: 16px;
            padding: 10px 0 10px;
            font-weight: 500;
            line-height: 70%;
        }

        .header__logo {
            display: flex;
            max-width: 100%;
            width: 33.3333%;
            padding: 0 7px 0 7px;
            align-items: center;
            justify-content: end;
        }

        .header__logo-img {
            width: 90px;
            height: auto;
            object-fit: contain;
        }
        /* Content */
        .content {
            display: block;
        }

        .content-text {
            color: #000000;
            font-size: 17px;
            font-weight: 500;
            font-style: italic;
            margin-top: 20px;
            text-align: left;
        }
        .content__product {
            display: block;
            width: 100%;
        }

        .content__product-img {
            margin-top: 20px;
            width: 100%;
            object-fit: contain;
        }

        .content__description {
            display: block;
        }

        .content__descripttion-btn {
            display: block;
            text-align: center;
            margin: 20px auto;
            width: 200px;
            background-color: #05c26b;
            padding: 10px 20px; 
            border-radius: 2px;
            cursor: pointer;
            text-decoration: none;
        }
        .content__descripttion-link {
            text-decoration: none;
            font-size: 14px;
            color: #ffffff !important;
        }

        /* info website */
        .info-web {
            display: block;
            margin: 60px -30px 0;
        }

        .info-web h2 {
            text-align: center;
            font-size: 28px;
            margin-bottom: 20px;
            font-weight: 600;
            color: #000000;
        }

        .info-web__description {
            display: block;
            padding: 30px 50px;
            background-color: #F1F2F2;
        }

        .info-web__name {
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            color: #000000;
        }

        .info-web__text {
            color: #000000;
            margin-top: 5px;
            font-size: 14px;
            text-align: center;
            font-weight: 300;
        }

        .info-web_list {
            padding: 0 30px;
        }

        .info-web__row {
            display: flex;
        }
        .info-web__item {
            padding: 10px 10px;
            width: 50%;
        }

        .info-web__item-name {
            color: #000000;
            font-size: 19px;
        }

        .info-web__item-des {
            padding-top: 5px;
            font-size: 14px;
            font-weight: 300;
            color: #000000;
            height: 68px;
        }
        .btn-web {
            display: block;
            width: 220px;
            background-color: #05c26b;
            padding: 10px 20px;
            margin: 60px auto 40px;
            text-align: center;
            border-radius: 2px;
            cursor: pointer;
            text-decoration: none;
        }  
        .btn-web__link {
            text-decoration: none;
            color: #ffffff;
            font-size: 14px;
            cursor: pointer;
        }

        /* Footer */
        .footer {
            background-color: #05c26b;
            color: #ffffff;
            margin: 0 -30px;
            align-items: center;
        }

        .footer__social-media {
            display: block;
            text-align: center;
            padding: 60px 0 10px;
        }

        .footer__social-media-link {
            text-decoration: none;
            padding: 4px;
        }

        .footer__social-media-item {
            width: 32px;
            height: auto;
            margin: 0 10px;
            border: 1px solid rgba(0, 0, 0, 0.05);
            border-radius: 4px;
        }

        .footer__contacts {
            display: block;
            text-align: center;
        }

        .footer__contacts-link {
            display: inline-flex;
            text-decoration: none;
            color: #ffffff;
            margin: 20px 0px;
            padding: 1px 8px 1px 6px;
            border-right: 1.5px solid #ffffff;
        }

        .footer__contacts-link:hover {
            color: #090909;
        }
        .footer__contacts-link-last-child{
            border: none;
        }

        .footer__contacts-item {
            font-size: 14px;
            text-transform: uppercase;
        }

        .footer__more {
            font-size: 14px;
            padding: 0 15% 30px;
            text-align: center;
            margin: auto;
            cursor: default;
            line-height: 18px;
            font-weight: 300;
        }  
        @media only screen and (max-width: 739px) {
            .header-mobile {
                display: block;
            }
            .header__title-mobile {
                margin: auto;
                text-align: center;
            }
            .header__title-shop-mobile {
                   padding: 0;
            }
            .header__title-service-mobile {
                padding-bottom: 22px;
            }
            .header__logo-mobile {
                margin: auto;
            }
            .info-web__row-mobile {
                display: block;
            }
            .info-web__item-mobile {
                text-align: center;
                padding: 10px 0 0 0;
                width: 100%;
            }
            .info-web__item-name-mobile:first-child {
                margin-top: 5px;
            }
            .info-web__item-des-mobile {
                height: auto;
                padding: 10px 0 20px;
            }
            .info-web__item-des-mobile {
                padding-bottom: 0;
            }
            .btn-web-mobile {
                margin-top: 20px;
            }
        }
    </style>
    <title>Document</title>
</head>
<body>
    <!-- Header -->
    <div class="mail">
        <div class="header header-mobile">
            <div class="header__title header__title-mobile">
                <h1 class="header__title-shop header__title-shop-mobile">{{shop}}</h1>
                <h3 class="header__title-service header__title-service-mobile">Thông Báo Sản Phẩm</h3>
            </div>

            <div class="header__logo header__logo-mobile">
                <img class="header__logo-img" src="./img/icons8-scale-60.png" alt="logo">
            </div>
        </div>
        <div class="content">
            <div class="content-text">Chào bạn {{{name}}},</div>
            <div class="content-text">
                Chúng tôi xin gửi đến bạn một thông báo "{{{product_name}}}" đã được giảm giá xuống {{{product_price}}}. Đừng bỏ lỡ cơ hội này!
            </div>        
            <div class="content__product">
                <img id="productImg" class="content__product-img" {{{link_image}}}alt="product">
            </div>
            <div class="content__description">
                <a class="content__descripttion-btn" {{{product_link}}}>
                    <div class="content__descripttion-link">Đặt mua ngay</div>
                </a>
            </div>   
            <div class="info-web">
                <h2>Website của chúng tôi</h2>
    
                <div class="info-web__description">
                    <div class="info-web__name">Tên Web</div>
                    <div class="info-web__text">
                        Trang web giúp bạn tìm kiếm và so sánh giá của các sản phẩm khác nhau từ nhiều sàn thương mại điện tử khác nhau. Website là lựa chọn tốt nhất giúp bạn tiết kiệm thời gian và nỗ lực trong việc tìm kiếm sản phẩm với giá cả hợp lý nhất.
                    </div>
                </div>
    
               <div class="info-web_list">
                    <div class="info-web__row info-web__row-mobile">
                        <div class="info-web__item info-web__item-mobile">
                            <h1 class="info-web__item-name info-web__item-name-mobile">Sản phẩm</h1>
                            <h3 class="info-web__item-des info-web__item-des-mobile">Tổng hợp sản phẩm từ nhiều sàn thương mại điện tử: Tiki, phongvu, hoanghamoblie, gear,...</h3>
                        </div>
                        <div class="info-web__item info-web__item-mobile">
                            <h1 class="info-web__item-name info-web__item-name-mobile">Cập nhật liên tục</h1>
                            <h3 class="info-web__item-des info-web__item-des-mobile">Thông tin các sản phẩm được cập nhật liên tục</h3>
                        </div>
                    </div>
                    <div class="info-web__row info-web__row-mobile">
                        <div class="info-web__item info-web__item-mobile">
                            <h1 class="info-web__item-name info-web__item-name-mobile">Đặt giá sản phẩm</h1>
                            <h3 class="info-web__item-des info-web__item-des-mobile">Website sẽ lập tức thông báo khi những sản phẩm mà người dùng theo dõi giảm giá để người dùng không bở lỡ cơ hội</h3>
                        </div>
                        <div class="info-web__item info-web__item-mobile">
                            <h1 class="info-web__item-name info-web__item-name-mobile">So sánh</h1>
                            <h3 class="info-web__item-des info-web__item-des-mobile">Đưa ra những sản phẩm có giá cả hợp lý nhất cho người dùng</h3>
                        </div>
                    </div>
                </div>
                
                <a class="btn-web btn-web-mobile" {{{web_link}}}>
                    <div class="btn-web__link">Truy cập (Tên web) ngay</div>
                </a>
            </div>
        </div>
        <div class="footer">
            <div class="footer__social-media">
                <a class="footer__social-media-link" href="#">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_%28square%29.png/900px-Facebook_logo_%28square%29.png?20140103173026" alt="Facebook" class="footer__social-media-item">
                </a>
                <a class="footer__social-media-link" href="#">
                    <img src="https://i.pinimg.com/564x/ea/7a/f2/ea7af2007c2e5e62d5aa355570f2d115.jpg" alt="Twitter" class="footer__social-media-item">
                </a>
                <a class="footer__social-media-link" href="#">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeqojh2nANEBru6EGI-bTBVEFyevMUWIX_8eN8b5dqfXs0_AkAJqNv&s=0" alt="Linkedin" class="footer__social-media-item">
                </a>
                <a class="footer__social-media-link" href="#">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-d5uXblq1q9zFso-otdno-NFjAqebpYIQ6Q&usqp=CAU" alt="Instagram" class="footer__social-media-item">
                </a>
            </div>
            <div class="footer__contacts">
                <a href="" class="footer__contacts-link">
                    <div class="footer__contacts-item">Home</div>
                </a>
                <a href="" class="footer__contacts-link">
                    <div class="footer__contacts-item">Page</div>
                </a>
                <a href="" class="footer__contacts-link">
                    <div class="footer__contacts-item">About Us</div>
                </a>
                <a href="" class="footer__contacts-link footer__contacts-link-last-child">
                    <div class="footer__contacts-item">Contact Us</div>
                </a>
            </div>
            <div class="footer__more">@more moremore more more moremore  more more moremore  more more moremore more more more more more</div>
        </div>
    </div>
</body>
</html>